# Test URI
# Ignore netbeans folder
nbproject/*
 
# Ignore private folder
/app/private/*
!/app/private/empty
 
# Ignore packed asset files
/app/webroot/css/packed/*
!app/webroot/css/packed/.htaccess
/app/webroot/js/packed/*
!app/webroot/js/packed/.htaccess
 
# MAC
.DS_Store
 
# Windows
Thumbs.db
 
# Eclipse project files
/.cache
.project
/.settings
.buildpath
 
# Cake TMP Dirs
/app/tmp/*
!/app/tmp/
 
/app/tmp/cache/*
!/app/tmp/cache/
!/app/tmp/cache/empty
 
/app/tmp/cache/models/*
!/app/tmp/cache/models/
!/app/tmp/cache/models/empty
 
/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty
 
/app/tmp/cache/views/*
!/app/tmp/cache/views/
!/app/tmp/cache/views/empty
 
/app/tmp/logs/*
!/app/tmp/logs/
!/app/tmp/logs/empty
 
/app/tmp/sessions/*
!/app/tmp/sessions/
!/app/tmp/sessions/empty
 
/app/tmp/tests/*
!/app/tmp/tests/
!/app/tmp/tests/empty